<div class="HeaderBox">
    <div class="imageBox">
      <img src="../Portfolio-Pic.jpg">
    </div>
    <div class="aboutBox">
      <h1>Noah Strayve</h1>
      <p>Welcome to my portfolio it has been a delight putting this together. I am a front-end developer and would love to show you some interfaces I have created.</p>
      <p>Languages I am porficient in: Handlebars, React, CSS 3, Bootstrap, Git, MySQL, Javascript.</p>
      <a href="https://www.linkedin.com/in/noah-strayve/"><p>My LinkdIn</p></a>
      <a href="https://github.com/noahstrayve"><p>My Github</p></a>

      <!-- ALL I NEED TO DO IS -->
      <!-- 1.) GET LINKS FOR GIT HUB PAGES -->
      <!-- 2.) GET IMAGES FOR HEROKU PAGES -->
      <!-- 3.) GET LINKS FOR HEROKU PAGES -->
      <!-- 4.) GET LINK IN / GITHUB LINKS -->
      <!-- 5.) GET PROFILE PIC -->
      <!-- 6.) WRITE BLURBS FOR PROJECTS -->
    </div>  
  </div>
  <div class="Project Box">
    <div class="rowOne">
      <div class="projectOne">
        <img src="">
        <h3 class="projectTitle">Future Project 3</h3>
        <p class="projectBlurb">Haven't finished this yet but a site where I designed the front end</p>
        <a href=""><p class="githubLink">Github</p></a>
        <a href=""><p class="deployedLink">Visit Site</p></a>
      </div>
      <div class="projectTwo">
        <img src="">
        <h3 class="projectTitle">Dyv-In</h3>
        <p class="projectBlurb">A site where I designed the front end</p>
        <a href="https://github.com/derek-haworth/Dyv-iN"><p class="githubLink">Github</p></a>
        <a href="https://dyv-in.herokuapp.com/"><p class="deployedLink">Visit Site</p></a>

      </div>
    </div>
    <div class="rowTwo">
      <div class="projectOne">
        <img src="">
        <h3 class="projectTitle">Chicago Concert Connection</h3>
        <p class="projectBlurb">A site where I designed the fornt end.</p>
        <a href="https://github.com/MattMurn/chi-concert-proj"><p class="githubLink">Github</p></a>
        <a href="https://mattmurn.github.io/chi-concert-proj/"><p class="deployedLink">Visit Site</p></a>

      </div>
      <div class="projectTwo">
        <img src="">
        <h3 class="projectTitle">Memory Game</h3>
        <p class="projectBlurb">A site I fully designed to teach myself React</p>
        <a href="https://github.com/noahstrayve/AlbumMemoryGame"><p class="githubLink">Github</p></a>
        <a href="https://fathomless-harbor-67539.herokuapp.com/"><p class="deployedLink">Visit Site</p></a>

      </div>
    </div>
    <div class="rowThree">
      <div class="projectOne">
        <img src="">
        <h3 class="projectTitle">Burger Muncher</h3>
        <p class="projectBlurb">A site I designed to teach myself Heroku</p>
        <a href="https://github.com/noahstrayve/Burger-Muncher"><p class="githubLink">Github</p></a>
        <a href="https://cryptic-temple-69640.herokuapp.com/"><p class="deployedLink">Visit Site</p></a>

      </div>
      <div class="projectTwo">
        <img src="">
        <h3 class="projectTitle">Friend Finder</h3>
        <p class="projectBlurb">A site I designed to teach myself MySQL</p>
        <a href="https://github.com/noahstrayve/FriendFinder2"><p class="githubLink">Github</p></a>
        <a href="https://nameless-taiga-98062.herokuapp.com/"><p class="deployedLink">Visit Site</p></a>

      </div>
    </div>  
  </div>